# --- GLOBAL ---
# Recursive ignore for license in ANY subfolder
rti_license.dat

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Visual Studio / IDE (Global)
.vs/
.gradle/
.consulo/
.idea/
*.suo
*.tmp
*.user
*.userprefs
*.opendb
*.VC.db

# --- FOLDERS TO IGNORE ---
/dataset/
/papers/
/robot/
/fanuc-crx-10ial-cobot-1.snapshot.29/

# --- UNITY (CAT) ---
/CAT_unity_project/[Ll]ibrary/
/CAT_unity_project/[Tt]emp/
/CAT_unity_project/[Oo]bj/
/CAT_unity_project/[Bb]uild/
/CAT_unity_project/[Bb]uilds/
/CAT_unity_project/[Ll]ogs/
/CAT_unity_project/[Uu]ser[Ss]ettings/
/CAT_unity_project/[Mm]emoryCaptures/
!/CAT_unity_project/[Aa]ssets/**/*.meta
/CAT_unity_project/ExportedObj/
/CAT_unity_project/*.pidb
/CAT_unity_project/*.booproj
/CAT_unity_project/*.svd
/CAT_unity_project/*.pdb
/CAT_unity_project/*.pidb.meta
/CAT_unity_project/*.pdb.meta
/CAT_unity_project/*.mdb.meta
/CAT_unity_project/sysinfo.txt
/CAT_unity_project/crashlytics-build.properties
*.apk
*.aab
*.unitypackage

# --- WPF APP (CAT_wpf_app) ---
# Ignore build results
/CAT_wpf_app/**/bin/
/CAT_wpf_app/**/obj/