# --- GLOBAL ---
# Recursive ignore for license in ANY subfolder
rti_license.dat

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Visual Studio / IDE (Global)
.vs/
.gradle/
.consulo/
.idea/
*.suo
*.tmp
*.user
*.userprefs
*.opendb
*.VC.db

# --- FOLDERS TO IGNORE ---
/dataset/
/papers/
/robot/
/fanuc-crx-10ial-cobot-1.snapshot.29/

# --- UNITY (CAT) ---
/CAT/[Ll]ibrary/
/CAT/[Tt]emp/
/CAT/[Oo]bj/
/CAT/[Bb]uild/
/CAT/[Bb]uilds/
/CAT/[Ll]ogs/
/CAT/[Uu]ser[Ss]ettings/
/CAT/[Mm]emoryCaptures/
!/CAT/[Aa]ssets/**/*.meta
/CAT/ExportedObj/
/CAT/*.pidb
/CAT/*.booproj
/CAT/*.svd
/CAT/*.pdb
/CAT/*.pidb.meta
/CAT/*.pdb.meta
/CAT/*.mdb.meta
/CAT/sysinfo.txt
/CAT/crashlytics-build.properties
*.apk
*.aab
*.unitypackage

# --- WPF APP (CAT_wpf_app) ---
# Ignore build results
/CAT_wpf_app/**/bin/
/CAT_wpf_app/**/obj/